img {
    width:100px; /* you can use % */
    height: auto;
}

.form-control {
    margin: 0 auto;
    width:300px;
}
.custom-select {
    margin: 0 auto;
    width:300px; 
}

.input-group {
    margin: 0 auto;
    width:300px;
}